body{
    text-align: left;
}
    marqueeStyle{
    font-size: 20px;
    background-color: black;
    color: white;
}
h1{
    text-align: left;
    font-size: 35px;
}
map{
    text-align: left;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 360px;
}